/*==============================================================

Site Header

File: SCSS Partial (/scss/partials/_site-header.scss)
Compiled to: css/global.css
Created: 16/11/2013
Updated: 

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Description: Styles for the site header
Author: David Flindall
Author URI: http://juxprose.com

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/



/* All
  -------------------------------------------------------- */