/*==============================================================

Text

File: SCSS Partial (/scss/base/_text.scss)
Compiled to: css/global.css
Created: 16/11/2013
Updated: 

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Description: Text styles
Author: David Flindall
Author URI: http://juxprose.com

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/



/* Paragraphs
  -------------------------------------------------------- */

  p, li {
    margin: 0 0 $space;
  } 

  // Special paragraphs
  .note {
    font-size: $fnt-sml;
  }
 
  .lead {
    font-size: $fnt-med;
    font-weight: bold;
    line-height: 1.3;
  }




/* Rule
  -------------------------------------------------------- */

  hr {
    border: 0;
    height: 1px;
    background: $clr-keyline;
    margin: $space 0;
  }


/* Misc
  -------------------------------------------------------- */
  
  address {
    margin-bottom: $space;
  } 

  abbr {
    border-bottom: 1px dotted $clr-temp;
    cursor: help;
  }

  acronym {
    font-weight: bold;
    font-style: italic;
  }

  cite {
    font-weight: bold;
  } 
  
  q {
    font-style: italic;
  } 


